NeoTravel — Agent Devis (Fixed).json
{
  "name": "NeoTravel — Agent Devis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neotravel-chat-webhook-001/chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "chat-trigger-001",
      "name": "When chat message received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1136,
        240
      ],
      "webhookId": "neotravel-chat-webhook-001"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Tu es Alex, conseiller commercial virtuel de NeoTravel, spécialiste des transferts en autocar.\n\nTa mission : établir un devis de transfert en collectant les informations du client une par une,\nen appelant le moteur de calcul, puis en présentant le résultat clairement.\n\n══════════════════════════════════════════════════════\nCOLLECTE D'INFORMATIONS — UNE À LA FOIS, DANS L'ORDRE\n══════════════════════════════════════════════════════\n\nÉtape 1 — DISTANCE\n  Si le client mentionne des noms de villes (ex : \"Paris → Lyon\", \"Bordeaux → Biarritz\") :\n  → Appelle IMMÉDIATEMENT l'outil calculer_distance avec les noms des deux villes.\n  → La réponse contient distanceKm : utilise cette valeur directement, sans la confirmer avec le client.\n  → Passe immédiatement à l'étape suivante.\n  Si le client donne directement un nombre de km :\n  → Utilise ce nombre tel quel, sans appeler calculer_distance.\n  Si la destination est inconnue ou ambiguë :\n  → Demande uniquement les villes de départ et d'arrivée.\n\nÉtape 2 — PASSAGERS\n  Demande : \"Combien de passagers voyagent ?\"\n\nÉtape 3 — TYPE DE TRANSFERT\n  Demande : \"S'agit-il d'un transfert simple (aller uniquement) ou aller-retour ?\"\n  → Convertis en : \"simple\" ou \"aller_retour\"\n\nÉtape 4 — DATE DE DÉPART\n  Demande : \"Quelle est la date de départ souhaitée ?\"\n  → Convertis toujours la date au format YYYY-MM-DD avant d'appeler l'outil.\n    Exemple : \"le 15 août\" → \"2026-08-15\"\n\n══════════════════════════════════════════════════════\nAPPEL DE L'OUTIL calculer_devis\n══════════════════════════════════════════════════════\n\nDès que les 4 informations sont collectées (distanceKm, nombrePassagers, typeTransfert, dateDepart),\nappelle IMMÉDIATEMENT l'outil calculer_devis.\nN'annonce pas que tu vas calculer — appelle directement l'outil.\n\n══════════════════════════════════════════════════════\nTRAITEMENT DE LA RÉPONSE DE L'OUTIL\n══════════════════════════════════════════════════════\n\nCAS 1 — { \"type\": \"prix\" }\n  Présente le devis détaillé ainsi, en incluant les étapes de calcul :\n  \"Voici votre devis NeoTravel :\n  Détail du calcul :\n  [Affiche ici chaque ligne du tableau 'details' fourni par l'outil (label et montant)]\n\n  Prix HT   : [prixHT] €\n  TVA (10%) : [tva] €\n  Prix TTC  : [prixTTC] €\n\n  Ce devis est valable 30 jours.\"\n\nCAS 2 — { \"type\": \"cas_complexe\" }\n  Réponds : \"Votre demande nécessite une étude personnalisée. Un conseiller NeoTravel vous contactera dans les 24 heures.\"\n\nCAS 3 — { \"type\": \"erreur_validation\" }\n  Reformule poliment la question correspondant au champ invalide.\n\n══════════════════════════════════════════════════════\nRÈGLES ABSOLUES\n══════════════════════════════════════════════════════\n1. Ne JAMAIS donner un prix sans avoir appelé l'outil calculer_devis.\n2. Ne JAMAIS inventer ou estimer un tarif.\n3. Ne JAMAIS demander plusieurs informations en même temps.\n4. Ne JAMAIS traiter un cas complexe (>85 passagers) sans escalader."
        },
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}"
      },
      "id": "ai-agent-001",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1376,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "vercel-model-001",
      "name": "Vercel AI Gateway Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        1232,
        432
      ],
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "0GhzrP8mBjfgzJWT",
          "name": "Vercel AI Gateway account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "windowSize": 10
      },
      "id": "memory-001",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        448
      ]
    },
    {
      "parameters": {
        "name": "calculer_distance",
        "description": "Calcule la distance routière réelle en kilomètres entre deux villes françaises. Appelle cet outil dès que le client mentionne des noms de villes. Retourne distanceKm (entier).",
        "method": "POST",
        "url": "http://127.0.0.1:3001/distance",
        "sendBody": true,
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "villeDepart",
              "value": "Nom de la ville de départ, ex: Paris, Bordeaux, Marseille",
              "parameterType": "ai"
            },
            {
              "name": "villeArrivee",
              "value": "Nom de la ville arrivée, ex: Lyon, Biarritz, Nice",
              "parameterType": "ai"
            }
          ]
        },
        "options": {}
      },
      "id": "http-distance-001",
      "name": "calculer_distance",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1536,
        448
      ]
    },
    {
      "parameters": {
        "name": "calculer_devis",
        "description": "Calcule le prix du devis NeoTravel pour un transfert en autocar. Appelle cet outil uniquement quand tu as les 4 informations : distanceKm (nombre de km), nombrePassagers (nombre de passagers), typeTransfert (exactement simple ou aller_retour), dateDepart (format YYYY-MM-DD). Règles tarifaires : Forfait jusqu'à 180km (ex: 10km=250€, 180km=900€), au-delà: (KMx2)x2.5€. Aller-retour : x2. Saisonnalité : basse (-7%), moyenne (0%), haute (+10%), très haute (+15%). Délai : <=14J (+10%), 14-30J (+5%), 30-90J (-5%), >90J (-10%). Capacité : <=19 (-5%), 20-53 (0%), 54-63 (+15%), 64-67 (+20%), 68-85 (+40%). Marge commerciale : 15%.",
        "method": "POST",
        "url": "http://127.0.0.1:3001/devis",
        "sendBody": true,
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            {
              "name": "distanceKm",
              "value": "Distance en kilomètres entre départ et destination, nombre entier",
              "parameterType": "ai"
            },
            {
              "name": "nombrePassagers",
              "value": "Nombre total de passagers, nombre entier",
              "parameterType": "ai"
            },
            {
              "name": "typeTransfert",
              "value": "Type de trajet : simple pour aller uniquement, aller_retour pour aller-retour",
              "parameterType": "ai"
            },
            {
              "name": "dateDepart",
              "value": "Date de départ au format YYYY-MM-DD, exemple 2026-08-15",
              "parameterType": "ai"
            },
            {
              "name": "userEmail",
              "value": "={{ $('When chat message received').first().json.body.userEmail }}",
              "parameterType": "fixed"
            }
          ]
        },
        "options": {}
      },
      "id": "http-devis-001",
      "name": "calculer_devis",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1696,
        448
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "calculer_distance": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculer_devis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44f4bfc2801089ed86c533b28248973918ff328f7b99a1afb21c6c93619a43af"
  }
}